<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://images.unsplash.com/photo-1570679334008-c97544c8695b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MTN8fGJpY3ljbGV8ZW58MHx8MHx8&auto=format&fit=crop&w=1000&q=60);">
  <div class="container">
    <h1>RentABike</h1>
    <p>Hire a bicycle and get out there!</p>
    <%= link_to bicycles_path do %>
      <button class="btn btn-flat">Find your dream bike</button>
    <% end %>
  </div>
</div>
